!Theme - lovelace

*background:	#1D1F28
*foreground:	#FDFDFD
*cursorColor:	#C574DD
*color0:	#282A36
*color1:	#F37F97
*color2:	#5ADECD
*color3:	#F2A272
*color4:	#8897F4
*color5:	#C574DD
*color6:	#79E6F3
*color7:	#FDFDFD
*color8:	#414458
*color9:	#FF4971
*color10:	#18E3C8
*color11:	#FF8037
*color12:	#556FFF
*color13:	#B043D1
*color14:	#3FDCEE
*color15:	#BEBEC1

!extension dir
URxvt.perl-lib: /usr/lib/urxvt/perl

!interface
URxvt*scrollBar: false
URxvt*transparent: false
URxvt.borderless: true
URxvt.geometry: 80x20
!URxvt.internalBorder: 22

!fonts rendering
Xft.dpi: 102
Xft.antialias: true
Xft.hinting: true
Xft.rgba: rgb
Xft.autohint: false
Xft.hintstyle: hintfull
Xft.lcdfilter: lcddefault
URxvt.letterSpace: -1

!fonts
URxvt.font:         xft:Hack-Regular:pixelsize=16,xft:Symbola
URxvt.boldFont:     xft:Hack-Bold:pixelsize=14:weight=bold,xft:Symbola
URxvt.italicFont:   xft:Hack-RegularOblique:pixelsize=14:slant=italic,xft:Symbola


!Disable this iso mode
URxvt.iso14755: false
URxvt.iso14755_52: false


!key bindings
URxvt.keysym.Shift-Control-V: eval:paste_clipboard
URxvt.keysym.Shift-Control-C: eval:selection_to_clipboard


!extensions
!URxvt.perl-ext-common: fullscreen
URxvt.perl-ext-common: default,fullscreen,resize-font

!! resize-font
URxvt.resize-font.smaller: C-j
URxvt.resize-font.bigger: C-k

!! Fullscreen
URxvt.keysym.C-f: perl:fullscreen:switch

!! ROFI

